body {
    background: linear-gradient(to left, rgba(7, 27, 82, 1) 0%, rgba(0, 128, 128, 1) 100%);
}


/* Search Bar */

.search-box {
    width: 30%;
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.searchTerm {
    height: 30px;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: rgb(0, 0, 0);
}


/* card */

.wrap {
    position: relative;
    top: 10%;
}

.column {
    float: left;
    width: 15%;
    padding: 0 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 150px;
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}