*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}
ul li a{
    font-weight: 300;
}

body{
    background: #191919;
}

#homepage{
    max-width: 1366px;
    margin: 0 auto;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./assets/back.png);
    object-fit: contain;
}

.img-fluid{
    position: absolute;
    top: 50px;
    left: 0;
    z-index: -1000;
}

.header-main{
    padding-top: 140px;
    padding-bottom: 200px;
    display: grid;
    place-items: center;
}

.header-main h2{
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    margin-top: 50px;
}

.header-main h1{
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
}

.header-main a{
    color: white;
    text-decoration: none;
    background-color: #009521;
    padding: 6px 40px;
}
.header-main a:hover{
    background-color: #005813;
    color: rgb(180, 180, 180);
}

.section2{
    background: #191919;
    padding: 50px 0;
}

.section2 h1{
    color: #009521;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
}

.section2 ul li{
    list-style: none;
    line-height: 40px;
    color: white;
}

.section2 ul{
    margin: 40px auto;
    padding-right: 25px;
}

.section2 ul li span{
    color: #009521;
    font-weight: 600;
}

.section3{
    background: #1F1F1F;
    padding: 30px 10px;
}
.ptag{
    color: white;
}

.progress{
    background: black;
    justify-content: flex-start;
    border-radius: 0;
    align-items: center;
    position: relative;
    display: flex;
    height: 40px;
    max-width: 500px;
    margin: 4px 4px 15px 4px;
}
.progress-value{
    animation: load 3s normal forwards;
    border-radius: 0;
    background: #009521;
    height: 25px;
    width: 75%;
}

.section4{
    padding: 40px 0px;
    background: #191919;
}

#accordionFlushExample{
    background-color: #191919;
}

.accordion-body{
    background: #191919;
    color: white;
}

.section5{
    background: #1F1F1F;
    padding: 30px 10px;
}
.sectionlast{
    background: #191919;
    padding: 30px 10px;
}

footer{
    background: #009521;
    display: flex;
    flex-wrap: wrap;
    min-height: 40px;
    justify-content: space-evenly;
    align-items: center;
}
footer p{
    color: white;
    margin: 10px;
    font-weight: 300;
}
#p1{
    width: 90%;
}
#p2{
    width: 85%;
}
#p3{
    width: 75%;
}

#p4{
    width: 85%;
}

#p5{
    width: 75%;
}

@media(max-width:460px){
    .header-main h1{
        font-size: 27px;
    }
    .header-main h2{
        font-size: 24px;
        margin-top: 25px;
    }
}


.details{
    max-width: 300px;
    height: 300px;
    background: #1F1F1F;
    margin: 0 auto;
    padding: 0px 15px;
    display: grid;
    place-items: center;
    justify-content: center;
    box-shadow: 1px 4px 15px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.details:hover{
    background: #1E251F;
    position: relative;
    transform: scale(99%);
}

.details h2{
    color: #005813;
}

.details p{
    color: white;
}

img::after{
    content: "asds";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    z-index: 10000;
    background: #009521;
}